# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
bower_components

# Dist/Build/Docs directories
build
dist
docs
angular-northstar

# Temp directories and zips
.tmp
*.zip
*.tar.gz
